.contact-information {
    padding: 3rem;

    &__top {
        width: 100%;
        height: 30rem;
        max-height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        position: relative;
    
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(5rem);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    &__top-actions {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 1;
    }
    
    &__change,
    &__close {
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    &__change {
        background-image: url(../../assets/icons/pencil.svg);
        margin-right: 1.5rem;
    }
    
    &__close {
        background-image: url(../../assets/icons/close.svg);
    }
    
    &__top-bg-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &__top-avatar {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        margin-bottom: 2rem;
        position: relative;
        z-index: 1;
    }
    
    &__top-name {
        width: 100%;
        overflow: auto;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
        font-weight: 400;
        font-size: 2.8rem;
        position: relative;
        z-index: 1;
    }
    
    &__middle {
        min-height: calc(100vh - 40rem);
        max-height: calc(100vh - 40rem);
        overflow-y: auto;
        padding: 2rem 5rem 0 5rem;
        background-color: #caf0f8;
    }
}